<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284486195690-1kqv07h9uni1pikig0hqm78h8ekv0orc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284486195690-1kqv07h9uni1pikig0hqm78h8ekv0orc</string>
	<key>API_KEY</key>
	<string>AIzaSyAxOyFi88CwEyd8aRQGP_257ebgXieBfhE</string>
	<key>GCM_SENDER_ID</key>
	<string>284486195690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseLogin2</string>
	<key>PROJECT_ID</key>
	<string>login-2-c88e9</string>
	<key>STORAGE_BUCKET</key>
	<string>login-2-c88e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284486195690:ios:5b18c3fe5ba5d2d53ffa93</string>
</dict>
</plist>