<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854706768504-fhtvj6edjmo0bv8n5pf948j3n40ll8o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854706768504-fhtvj6edjmo0bv8n5pf948j3n40ll8o2</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Ma5LAOKJoNtZVrdh8fq-tmCCDlf0uGI</string>
	<key>GCM_SENDER_ID</key>
	<string>854706768504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-57800</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-57800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854706768504:ios:45107a5a420c7710a97b8d</string>
</dict>
</plist>